# Node.js dependencies
/node_modules

# Webpack build output
/dist
/build
/public/build # if your output directory is named 'public/build' or similar

# Log files
*.log
npm-debug.log*

# Runtime data
*.pid
*.seed

# Coverage reports
/coverage

# Grunt intermediate storage
.grunt

# Compiled binary addons
build/Release

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Editor/IDE specific files (examples)
.vscode/
.idea/
.DS_Store
*.sublime-project
*.sublime-workspace